version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: placement-test-be:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - APP_ENV=local
    volumes:
      - ./:/var/www/html
    restart: unless-stopped